@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  /*display: flex;
  justify-content: center;*/
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  /*99% {
      opacity: 1;
  }*/
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  animation-name: loading;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.loader {
  position: fixed;
  /*display: flex;
  justify-content: center;  
  align-items: center;*/
  /*margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  /*top: 50%;
  left: 50%;*/
  border: 20px solid #F7F7F7;
  border-radius: 50%;
  border-top: 20px solid #9356DC;
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
header .bloc-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 23px 5px 23px;
}
header .bloc-logo h1 {
  width: 100%;
  font-family: Shrikhand, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin: 0;
}
header .bloc-logo a {
  text-decoration: none;
  color: black;
}

.recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353535;
  background-color: #EAEAEA;
  padding: 15px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.recherche__icone-localisation {
  margin-right: 17px;
}
.recherche__input {
  border: none;
  color: black;
  padding: 0;
  width: 108px;
}
.recherche__input::-moz-placeholder {
  color: black;
  background-color: #EAEAEA;
  margin-right: 0;
  font-weight: 500;
  font-size: 16px;
}
.recherche__input::placeholder {
  color: black;
  background-color: #EAEAEA;
  margin-right: 0;
  font-weight: 500;
  font-size: 16px;
}

.accueil h2 {
  font-weight: 700;
  font-size: 24px;
}

.section-introduction {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #F7F7F7;
  padding: 39px 0 57px 0;
}
@media screen and (min-width: 768px) {
  .section-introduction {
    padding: 30px 0;
  }
}
@media screen and (min-width: 768px) {
  .section-introduction h2 {
    font-size: 40px;
    margin: 0 0 18px 0;
  }
}
.section-introduction p {
  font-weight: 300;
  font-size: 18px;
  color: #353535;
  margin: 10px 0 27px 0;
}
.section-introduction__bouton {
  width: 220px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  margin: auto;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.section-introduction__bouton:hover {
  background: linear-gradient(356deg, rgb(155, 89, 220) 0%, rgb(167, 127, 216) 33%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 2px 10px 0px #525252;
}

.section-fonctionnement {
  padding: 43px 20px;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .section-fonctionnement {
    padding: 50px 20px;
  }
}
@media screen and (min-width: 1024px) {
  .section-fonctionnement {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .section-fonctionnement .bloc-fonctionnement {
    width: 80%;
  }
}
.section-fonctionnement h2 {
  margin: 5px 0 26px 0;
}
@media screen and (min-width: 768px) {
  .section-fonctionnement h2 {
    margin: 0 0 25px 0;
  }
}
.section-fonctionnement__instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}
@media screen and (min-width: 768px) {
  .section-fonctionnement__instructions {
    flex-direction: row;
    height: 70px;
  }
}
.section-fonctionnement__instructions__instruction {
  display: flex;
  align-items: center;
  height: 75px;
  background-color: #F7F7F7;
  border-radius: 20px;
  margin-left: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .section-fonctionnement__instructions__instruction {
    width: 30.3%;
  }
}
.section-fonctionnement__instructions__instruction:hover i {
  color: #9356DC;
}
.section-fonctionnement__instructions__instruction p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  /*font-weight: 500;                    est-ce utile????
  font-size: 14px;*/
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  position: relative;
  left: -12px;
}
.section-fonctionnement__instructions__instruction i {
  padding: 0 23px 0 34px;
  color: #7E7E7E;
}
@media screen and (min-width: 768px) {
  .section-fonctionnement__instructions__instruction i {
    padding: 0 15px 0 5px;
  }
}
.section-fonctionnement__instructions__instruction h3 {
  font-weight: 500;
  font-size: 16px;
}

.section-restaurants {
  padding: 50px 15px;
  background-color: #F7F7F7;
}
@media screen and (min-width: 768px) {
  .section-restaurants {
    padding: 30px 20px;
  }
}
@media screen and (min-width: 1024px) {
  .section-restaurants {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .section-restaurants .bloc-restaurants {
    width: 80%;
  }
}
.section-restaurants .bloc-restaurants h2 {
  margin: 4px 0 25px 0;
}
@media screen and (min-width: 768px) {
  .section-restaurants .bloc-restaurants .bloc-cartes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.section-restaurants .bloc-restaurants .bloc-cartes a {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .section-restaurants .bloc-restaurants .bloc-cartes a {
    width: 48%;
  }
}
.section-restaurants .bloc-restaurants .bloc-cartes a .carte {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}
.section-restaurants .bloc-restaurants .bloc-cartes a .carte__image {
  position: relative;
}
.section-restaurants .bloc-restaurants .bloc-cartes a .carte__image img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}
.section-restaurants .bloc-restaurants .bloc-cartes a .carte__image .etiquette {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  top: 5px;
  right: 12px;
  font-weight: 500;
  font-size: 14px;
  padding: 7px 9px 6px 9px;
  border-radius: 2px;
}
.section-restaurants .bloc-restaurants .bloc-cartes a .carte__contenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 77px;
  border-radius: 0 0 15px 15px;
  padding: 0 25px 0 13px;
}
.section-restaurants .bloc-restaurants .bloc-cartes a .carte__contenu__texte {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: black;
}
.section-restaurants .bloc-restaurants .bloc-cartes a .carte__contenu__texte h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}
.section-restaurants .bloc-restaurants .bloc-cartes a .carte__contenu__texte p {
  font-weight: 300;
  font-size: 17px;
  margin: 0;
}
.section-restaurants .bloc-restaurants .bloc-cartes a .carte__contenu span {
  background-image: url("../assets/images/coeur-vide.png");
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
}
.section-restaurants .bloc-restaurants .bloc-cartes a .carte__contenu span:hover {
  background-image: url("../assets/images/coeur-plein.png");
  transform: scale(1.2);
}

.bloc-menu {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .bloc-menu {
    align-items: center;
  }
}
.bloc-menu img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
@media screen and (min-width: 768px) {
  .bloc-menu img {
    height: 320px;
  }
}
@media screen and (min-width: 1024px) {
  .bloc-menu img {
    height: 470px;
  }
}
.bloc-menu .menu {
  background-color: #F7F7F7;
  padding: 32px 13px 40px 13px;
  position: relative;
  margin-top: -55px;
  border-radius: 55px 55px 0 0;
}
@media screen and (min-width: 768px) {
  .bloc-menu .menu {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.bloc-menu .menu__titre {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-left: 4px;
  padding-right: 28px;
}
@media screen and (min-width: 768px) {
  .bloc-menu .menu__titre {
    justify-content: center;
    width: 70%;
    padding-right: 0;
  }
}
.bloc-menu .menu__titre h1 {
  font-family: Shrikhand, sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .bloc-menu .menu__titre h1 {
    margin-right: 24px;
  }
}
.bloc-menu .menu__titre span {
  background-image: url("../assets/images/coeur-vide.png");
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
}
.bloc-menu .menu__titre span:hover {
  background-image: url("../assets/images/coeur-plein.png");
  transform: scale(1.2);
}
.bloc-menu .menu__etape {
  width: 100%;
  margin-bottom: 28px;
  /*&:nth-child(1) {
      opacity: 0;
      animation: beginning 1s 0s forwards;

  }
  &:nth-child(2) {
      opacity: 0;
      animation: beginning 1s 0.5s forwards;
  }
  &:nth-child(3) {
      opacity: 0;
      animation: beginning 1s 1s forwards;
  }
  &:nth-child(4) {
      opacity: 0;
      animation: beginning 1s 1.5s forwards;
  }*/
}
@media screen and (min-width: 768px) {
  .bloc-menu .menu__etape {
    width: 70%;
  }
}
.bloc-menu .menu__etape h2 {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  width: 40px;
  padding-bottom: 8px;
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 12px;
}
.bloc-menu .menu__etape article {
  display: flex;
  background-color: white;
  margin-bottom: 12px;
  border-radius: 15px;
  cursor: pointer;
  /*&:hover {
          .description {
              width: 70%;
          }
          .selected {
              width: 80px;
              opacity: 1;
          }
      }*/
}
.bloc-menu .menu__etape article:nth-child(1) {
  opacity: 0;
  animation: beginning 1s 0s forwards;
}
.bloc-menu .menu__etape article:nth-child(2) {
  opacity: 0;
  animation: beginning 1s 0.5s forwards;
}
.bloc-menu .menu__etape article:nth-child(3) {
  opacity: 0;
  animation: beginning 1s 1s forwards;
}
.bloc-menu .menu__etape article:nth-child(4) {
  opacity: 0;
  animation: beginning 1s 1.5s forwards;
}
* .bloc-menu .menu__etape article:hover .description {
  width: 70%;
}
@media screen and (min-width: 768px) {
  * .bloc-menu .menu__etape article:hover .description {
    width: 90%;
  }
}
* .bloc-menu .menu__etape article:hover .plat {
  width: 80%;
}
@media screen and (min-width: 768px) {
  * .bloc-menu .menu__etape article:hover .plat {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  * .bloc-menu .menu__etape article:hover .plat {
    width: 100%;
  }
}
* .bloc-menu .menu__etape article:hover .selected {
  width: 80px;
  opacity: 1;
}
.bloc-menu .menu__etape article .plat {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 15px 12px;
  transition: width 1s ease-in-out;
}
.bloc-menu .menu__etape article .plat .description {
  white-space: nowrap;
  transition: width 1s ease-in-out;
}
.bloc-menu .menu__etape article .plat .description h3 {
  font-weight: 500;
  font-size: 18px;
  margin: 0 0 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bloc-menu .menu__etape article .plat .description p {
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bloc-menu .menu__etape article .plat .prix {
  font-weight: 500;
  font-size: 17px;
  margin: 0;
}
.bloc-menu .menu__etape article .selected {
  width: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  transition: width 1s ease-in-out;
  /*&:hover {
      /*.description {
          width: 70%;
      }

          width: 80px;
          opacity: 1;

  }*/
}
.bloc-menu .menu__etape article .selected i {
  color: white;
  font-size: 20px;
}
@keyframes translation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes beginning {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bloc-menu .menu .bloc-bouton {
  display: flex;
  justify-content: center;
}
.bloc-menu .menu .bloc-bouton button {
  width: 186px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  /*background: linear-gradient(($couleur-primaire) 100%, ($couleur-secondaire) 100%);*/
  margin: auto;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.bloc-menu .menu .bloc-bouton button:hover {
  /*background: linear-gradient(($couleur-primaire) 100%, ($couleur-secondaire) 100%, (#FFFFFF) 15%);*/
  background: linear-gradient(356deg, rgb(155, 89, 220) 0%, rgb(167, 127, 216) 33%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 2px 10px 0px #525252;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px 15px 25px;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 50px 25px 25px 25px;
  }
}
.footer__logo {
  font-family: Shrikhand, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    margin-right: 30px;
  }
}
.footer__liens {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  padding-left: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer__liens {
    flex-direction: row;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .footer__liens {
    justify-content: flex-end;
    width: 85%;
  }
}
@media screen and (min-width: 768px) {
  .footer__liens .liens-partenariat {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .footer__liens .liens-mentions {
    display: flex;
  }
}
.footer__liens li {
  list-style-type: none;
  padding-bottom: 7px;
}
@media screen and (min-width: 768px) {
  .footer__liens li {
    padding-bottom: 0;
    margin-right: 10px;
  }
}
.footer__liens li i {
  width: 11px; /*pour gérer l'alignement avec le texte*/
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .footer__liens li i {
    width: auto;
  }
}
.footer__liens li .fa-handshake {
  transform: rotate(-45deg);
}
.footer__liens li a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=main.css.map */