.bouton {
    height: 50px;
        border-radius: 25px;
        border: none;
        color: white;
        background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        margin: auto;
        font-weight: 500;
        font-size: 16px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);        
        cursor: pointer;

        &:hover {
            background: linear-gradient(
                356deg,
                rgba(155, 89, 220, 1) 0%,
                rgba(167, 127, 216, 1) 33%,
                rgba(255, 121, 218, 1) 100%
            );
            box-shadow: 0px 2px 10px 0px #525252;
        }
}