* {
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}



.conteneur-principal {
    max-width: 767px;  
}