$breakpoints: (
    tablet: 768px,
    desktop: 1024px,
);

/* TABLETTE */

@mixin tablette-only {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;   
    }
}
    .section-introduction {
        padding: 39px 0 57px 0;
        @include tablette-only {
            padding: 30px 0;
        }

        h2 {
            font-size: 24px;
            @include tablette-only {
                font-size: 40px;
                margin: 0 0 18px 0;
            }
        }
    }
   
    .section-fonctionnement {
        padding: 43px 20px;
        @include tablette-only {
            padding: 50px 20px;
        }
        
        h2 {
            margin: 5px 0 26px 0;
            @include tablette-only {
                margin: 0 0 25px 0;
            }
        }

        &__instructions {

            flex-direction: column;
            height: 250px;
            @include tablette-only {
                flex-direction: row;
                height: 70px;               
            }

            &__instruction {

                i {
                padding: 0 23px 0 34px;
                @include tablette-only {
                    padding: 0 15px 0 5px;
                }
                }
            }
        }
    

    }


    .section-restaurants {
        padding: 50px 15px;
        @include tablette-only {
            padding: 30px 20px;
        }
        

        .bloc-cartes {

            @include tablette-only {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;            
            }

            a {
                @include tablette-only {
                width: 48%;
                }
            }
        }
    }


    .bloc-menu {
        @include tablette-only {
        align-items: center;
        }

        img {            
            height: 275px;
            @include tablette-only {
                height: 350px;
            }
            
        }
        .menu {
            width: 100%;
            @include tablette-only {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;

                &__titre {
                    padding-right: 28px;
                    @include tablette-only {
                        width: 70%;
                        padding-right: 0;
                    }
                }

                &__etape {
                    width: 100%;                   
                    @include tablette-only{
                        width: 70%;                       
                    }
                }               
            }
        }
    }
    


    .footer {
        padding: 22px 25px;
        @include tablette-only {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;            
            padding: 50px 25px 25px 25px;
        
        /*&__logo {
            @include tablette-only {
                align-items: center;
            }*/
        
        

        &__liens {
            flex-direction: column;      
            @include tablette-only {
                flex-direction: row;
                margin: 0;              
            }

                
                li {

                    padding-bottom: 7px;
                    @include tablette-only {
                        padding-bottom: 0;
                        margin-right: 10px;
                    }

                    i {
                        width: 11px;
                        @include tablette-only {
                            width: auto;
                        }
                    }
                }

                

                .liens-partenariat {
                    @include tablette-only {
                        display: flex;
                        margin-right: 30px;                  
                    }
                }

                .liens-mentions {
                    @include tablette-only {
                        display: flex;                      
                    }
                }
            }
        }
    }




/* DESKTOP*/


@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;   
    }
}

.section-fonctionnement {
    
    @include desktop-only {
    display: flex;
    justify-content: center;
    }

    .bloc-fonctionnement {
        @include desktop-only {
            width: 80%;
        }
    }

    &__instructions {

        

        &__instruction {
            
            
            @include tablette-only {
                width: 30%;
            }
        }
    }
}

.section-restaurants {
    
    
    @include desktop-only {
    display: flex;
    justify-content: center;
    }
    .bloc-restaurants {
        @include desktop-only {
        width: 80%;
        }
    }
}


.bloc-menu {
    img {            
        height: 350px;
        @include tablette-only {
            height: 470px;
        }
        
    }
}

.footer {
    /*justify-content: space-between;
    @include desktop-only {
        justify-content: flex-end;
        width: 100%;

    }*/

    &__logo {
        @include desktop-only {
            margin-right: 25px;
        }
    }

    &__liens {
        @include desktop-only {
            justify-content: flex-end;
            width: 85%;
        }
    }
}










  
    


    