$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #008766;
$couleur-quaternaire: #353535;
$couleur-de-fond-primaire: #F7F7F7;
$couleur-de-fond-secondaire: #EAEAEA;
$couleur-de-fond-tertiaire: #99E2D0;