.footer {
    background-color: $couleur-quaternaire;
    color: white;
    padding: 22px 25px 15px 25px;

    @include tablette-only {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;            
        padding: 50px 25px 25px 25px;
    }

    &__logo {
        font-family: Shrikhand, sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        margin: 0;

        @include desktop-only {
            margin-right: 30px;
        }
    }

    &__liens {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 16px;
        padding-left: 0;
        margin-bottom: 0;

        @include tablette-only {
            flex-direction: row;
            margin: 0;              
        }

        @include desktop-only {
            justify-content: flex-end;
            width: 85%;
        }

        .liens-partenariat {
            @include tablette-only {
                display: flex;                
            }
        }

        .liens-mentions {
            @include tablette-only {
                display: flex;                      
            }
        }

        li {
            list-style-type: none;
            padding-bottom: 7px;

            @include tablette-only {
                padding-bottom: 0;
                margin-right: 10px;
            }

            i {
                width: 11px; /*pour gérer l'alignement avec le texte*/
                margin-right: 10px;

                @include tablette-only {
                    width: auto;
                }
            }

            .fa-handshake {
            transform: rotate(-45deg);
            }
            
            a {
                text-decoration: none;
                color: white;
            }
            
        }
    }
}