.recherche {
    display: flex;
    justify-content: center; 
    align-items: center;
    color: $couleur-quaternaire;
    background-color: $couleur-de-fond-secondaire;
    padding: 15px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    &__icone-localisation {
    margin-right: 17px; 
    }

    &__input {
        border: none;
        color: black;
        padding: 0;
        width: 108px;

        &::placeholder {
            color: black;
            background-color: $couleur-de-fond-secondaire;
            margin-right: 0;
            font-weight: 500;
            font-size: 16px;
        }
    }
    
    

    
}





