.recherche {
    display: flex;
    justify-content: center; 
    align-items: center;
    color: $couleur-quaternaire;
    background-color: $couleur-de-fond-secondaire;
    /*height: 50px;*/
    padding: 15px 0;

    &__icone-localisation {
        margin-right: 17px; 
    }

    &__input {
        border: none;
        color: black;
        padding: 0;
        width: 95px;

        &::placeholder {
            color: black;
            background-color: $couleur-de-fond-secondaire;
            margin-right: 0;
        }
    }
    
    

    
}





